.overlay {
  //position: fixed;
  //display: none;
  //width: 100vw;
  //height: 100vh;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //background-color: rgba(0, 0, 0, 0.5);
  //cursor: pointer;
}

.overlay__background {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay__container {
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

.overlay__controls {
  display: flex;
  justify-content: center;
}

.overlay__close:after {
  display: inline-block;
  content: "\00d7";
}

.YoutubeTrailer {
  width: 50vw;
}